// Footer/Footer.scss

.footer {
  background-color: #ab1c1c;
  color: #fff;
  padding: 20px 0;

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
    }
  }
}
