.avatar {
  cursor: pointer;
  border: 1px solid #ccc;
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
  &.circle {
    float: left;
    border-radius: 50%;
  }
  &.box {
    float: right;
    border-radius: 10%;
  }
  &.flat {
    float: right;
    border-radius: 0%;
  }
}
