// HeaderWithSearch/HeaderWithSearch.scss

.header-with-search {
  background-color: #ab1c1c; /* Updated background color to a blue shade */
  padding: 15px 0; /* Increased top and bottom padding for better spacing */

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

    .header-logo {
      flex-grow: 1;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .header-nav {
      margin: 0 20px;
      ul {
        list-style: none;
        display: flex;
        gap: 20px;

        li {
          a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .header-search {
      flex-grow: 1;
      .search-bar {
        display: flex;
        align-items: baseline;
      }
      input {
        // padding: 10px;
        border: none;
        border-radius: 5px;
        width: 100%;
        font-size: 16px;
      }

      button {
        background-color: #b1afaf; /* Button color set to green */
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
          background-color: #27ae60; /* Darker green on hover */
        }
      }
    }
  }
}
