// Alert.scss

.alert {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;

  &-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    :hover {
      opacity: 0.8;
    }
  }

  &-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    :hover {
      opacity: 0.8;
    }
  }

  &-warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
    :hover {
      opacity: 0.8;
    }
  }

  &-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
    :hover {
      opacity: 0.8;
    }
  }
}
