// ArticleCard/ArticleCard.scss

.article-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  .article-image {
    overflow: hidden;
    border-bottom: 1px solid #ddd;

    img {
      width: 100%;
      height: auto;
    }
  }

  .article-details {
    padding: 15px;

    h3 {
      margin: 0;
      font-size: 18px;
    }
  }
}
