// ProgressBar/ProgressBar.scss

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #ab1c1c; // Adjust the color as needed
  transition: width 0.3s ease-in-out;
}
