// RadioButton/RadioButton.scss

.radio-button-label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  input {
    margin-right: 8px;
  }

  // Styles for the checked state
  input:checked + span {
    background-color: #ab1c1c; // Adjust the color as needed
    color: #fff; // Text color when checked
  }

  span {
    padding: 8px;
    border: 1px solid #ab1c1c; // Border color for unchecked state
    border-radius: 4px;
    cursor: pointer;
  }
}
