// Button/Button.scss

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ab1c1c; // Adjust the color as needed
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #b32a2a; // Adjust the hover color as needed
  }

  &:focus {
    outline: none;
  }
}
