// Tooltip/Tooltip.scss

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &-top {
    .tooltip-text {
      visibility: hidden;
      width: 120px;
      background-color: #555;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;

      position: absolute;
      z-index: 1;
      bottom: 125%; /* Position the tooltip above the text */
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover {
      .tooltip-text {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &-text {
    font-size: 14px;
  }
}
