// Alert.scss
.close-button {
  font-weight: bolder;
  font-size: 20px;
  padding: 2px 10px;
  margin-top: -7px;
  margin-right: -9px;
  cursor: pointer;
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}
