// FormField/FormField.scss

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .label {
    margin-bottom: 8px;
    font-weight: bold;
  }

  .input {
    min-width: 300ppx;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
}
