// Modal/Modal.scss

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  font-size: calc(1em + 1vw);
  color: #fff;
  .modal-content {
    &.fillBackground {
      background: #fff;
    }
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .modal-header h2 {
    margin: 0;
  }

  /* Close button styles */
  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    text-decoration: underline;
  }
}
