// Navigation/Navigation.scss

.navigation {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: #ab1c1c;
        font-weight: bold;

        &:hover {
          color: #333;
        }
      }
    }
  }
}
